// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and (max-width: 59rem) {
    font-size: 50%;
  }

  @media screen and (max-width: 43rem) {
    font-size: 40%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: $color-grey-dark-2;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw min-content min-content min-content;
  grid-template-columns:
    [start-sidebar] 8rem [end-sidebar full-start] 1fr
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(min-content, 1fr)
    [full-end];

  @media screen and (max-width: 56rem) {
    grid-template-rows: 8rem 80vh min-content 40vw min-content min-content min-content;
    grid-template-columns:
      [full-start] 1fr
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end]
      minmax(min-content, 1fr)
      [full-end];
  }

  @media screen and (max-width: 56.18rem) {
    grid-template-rows: 8rem 80vh min-content min-content min-content 50vh min-content min-content min-content;
  }

  & > * {
    padding: 5rem 3rem;
    font-size: 3rem;
  }
}
