.footer {
  background-color: rgba($color: rgb(20, 20, 20), $alpha: 1);
  grid-column: full-start / full-end;
  grid-row: 6 / 7;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @media screen and (max-width: 56.18rem) {
    grid-row: 9 / -1;
  }
  &_nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
  }
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey-light-1;
  padding: 1rem 1.5rem;
  text-align: center;
  transition: all 0.2s;
}

.footer-link:hover,
.footer-link:active {
  background-color: $color-secondary;
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  color: $color-grey-light-1;
}
